@page {
    margin: 0;
    size: 21cm 29.7cm;
}

body {
    background-color: transparent;
}

main {
    padding: 10px 50px;
}

footer {
    display: none;
}

* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}